[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "2.1"
djangorestframework = "3.10.0"
gunicorn = "*"
whitenoise = "==4.0"
dj-database-url = "*"
redis = "*"
django-cors-headers = "2.5.3"
pipfile = "*"
SpeechRecognition = "*"
editdistance = "*"
joblib = "*"
tqdm = "*"
ipython = "*"
pytorch-transformers = {editable = true,git = "https://github.com/huggingface/pytorch-transformers.git",ref = "47a7d4ec14"}
pandas = "1.0.0"

[dev-packages]

[requires]
python_version = "3.6"
